POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=analytics

POSTGRES_PORT=5432

KAFKA_PORT=9092

GRAFANA_PORT=3000

PROMETHEUS_PORT=9090

PGADMIN_PORT=5051

KAFKA_UI_PORT=8080
KAFKA_BOOTSTRAP=localhost:9092
EVENTS_PER_SECOND=100

API_PORT=8000

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin123
